packages/node_modules/@node-red/flow-parser/test/resources/flow.json
[
    {
        "disabled": false,
        "id": "3422d1.25b52d3",
        "info": "",
        "label": "Flow 1",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "170228d9.1db747",
        "info": "",
        "label": "Flow 2",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "f40ba5a7.913cd8",
        "info": "",
        "label": "Flow 3",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "67722c.3b4abdd4",
        "info": "",
        "label": "nlecaude",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "905bff64.6816e",
        "info": "",
        "label": "Flow 5",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "bf2cc65e.60d988",
        "info": "",
        "label": "Flow 6",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "3d5a65a.413c39a",
        "info": "",
        "label": "Flow 7",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "6b29dfb0.3699c",
        "info": "",
        "label": "Flow 8",
        "type": "tab"
    },
    {
        "disabled": false,
        "id": "88383bc2.00b468",
        "info": "",
        "label": "Flow 9",
        "type": "tab"
    },
    {
        "category": "",
        "color": "#87A980",
        "env": [
        ],
        "icon": "node-red/arduino.png",
        "id": "7623e93f.d95958",
        "in": [
            {
                "wires": [
                    {
                        "id": "e308262.2651bd8"
                    }
                ],
                "x": 40,
                "y": 80
            }
        ],
        "info": "",
        "meta": {
            "author": "nisiyama",
            "desc": "desc",
            "keywords": "node-red",
            "license": "Apache-2.0",
            "module": "node-red-contrib-exp1",
            "type": "exp1",
            "version": "1.0.0"
        },
        "name": "RealEXP1",
        "out": [
            {
                "wires": [
                    {
                        "id": "a234bbba.bc03f8",
                        "port": 0
                    }
                ],
                "x": 560,
                "y": 80
            }
        ],
        "type": "subflow"
    },
    {
        "id": "8209a5c3.b15028",
        "in": [
            {
                "wires": [
                    {
                        "id": "44e407b8.8940d8"
                    }
                ],
                "x": 40,
                "y": 80
            }
        ],
        "info": "",
        "name": "Subflow 1",
        "out": [
            {
                "wires": [
                    {
                        "id": "44e407b8.8940d8",
                        "port": 0
                    }
                ],
                "x": 360,
                "y": 80
            }
        ],
        "type": "subflow"
    },
    {
        "id": "22db187c.2c8d7",
        "in": [
            {
                "wires": [
                    {
                        "id": "317dd1e3.81909e"
                    }
                ],
                "x": 40,
                "y": 80
            }
        ],
        "info": "",
        "name": "Subflow 1",
        "out": [
            {
                "wires": [
                    {
                        "id": "317dd1e3.81909e",
                        "port": 0
                    }
                ],
                "x": 380,
                "y": 80
            }
        ],
        "type": "subflow"
    },
    {
        "h": 122,
        "id": "966e273a.606a18",
        "name": "branch a",
        "nodes": [
            "9f5838d1.46e0c8",
            "4f29f043.976418",
            "7c34afb8.cfb558",
            "1c8e3f45.8a7e71",
            "df5e6bab.4b0aa",
            "e8a252be.4822e",
            "ff8d670b.55d088",
            "d4150b44.429a48"
        ],
        "style": {
            "label": true
        },
        "type": "group",
        "w": 1532,
        "x": 54,
        "y": 99,
        "z": "67722c.3b4abdd4"
    },
    {
        "h": 82,
        "id": "e5bf201a.44a378",
        "name": "branch b",
        "nodes": [
            "8bfdd0e1.b5d4b8",
            "746c49c.576dd38",
            "40802e12.ef92c8"
        ],
        "style": {
            "label": true
        },
        "type": "group",
        "w": 872,
        "x": 174,
        "y": 319,
        "z": "67722c.3b4abdd4"
    },
    {
        "id": "72ac1499.04cb4c",
        "path": "/ws/example",
        "type": "websocket-listener",
        "wholemsg": "false"
    },
    {
        "crontab": "",
        "id": "27ea1409.45cb6c",
        "name": "Hi\\n There",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "edc3db11.6448b8"
            ]
        ],
        "x": 90,
        "y": 80,
        "z": "3422d1.25b52d3"
    },
    {
        "client": "",
        "id": "2499fb06.a07924",
        "name": "",
        "server": "72ac1499.04cb4c",
        "type": "websocket in",
        "wires": [
            [
                "930b25f9.6af0c8"
            ]
        ],
        "x": 270,
        "y": 200,
        "z": "3422d1.25b52d3"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "930b25f9.6af0c8",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 570,
        "y": 120,
        "z": "3422d1.25b52d3"
    },
    {
        "active": true,
        "complete": "true",
        "console": false,
        "icon": "font-awesome/fa-address-card",
        "id": "bfc71766.923608",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "full",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 350,
        "y": 80,
        "z": "3422d1.25b52d3"
    },
    {
        "crontab": "",
        "id": "fd2dd455.7d85d8",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "{\"jsonrpc\":\"2.0\",\"result\":{\"status\":{\"heater_bed\":{\"temperature\":59.70476091770062,\"target\":60},\"filament_switch_sensor Sensor\":{\"filament_detected\":true},\"gcode\":{},\"fan\":{\"speed\":1,\"rpm\":null},\"display_status\":{\"progress\":0.3},\"print_stats\":{\"print_duration\":9321.11139888801,\"total_duration\":9559.235056339006,\"filename\":\"Trunk_Tall_0.16mm_PLA__7h39m.gcode\",\"state\":\"printing\"},\"toolhead\":{\"homed_axes\":\"xyz\",\"estimated_print_time\":61695.956782333335,\"print_time\":61698.806354975015,\"extruder\":\"extruder\"},\"extruder\":{\"target\":210,\"temperature\":209.99919772313908}},\"eventtime\":96164.416848014},\"id\":\"3041544688\"}",
        "payloadType": "json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "dba78653.d53ac8"
            ]
        ],
        "x": 130,
        "y": 340,
        "z": "3422d1.25b52d3"
    },
    {
        "checkall": "true",
        "id": "dba78653.d53ac8",
        "name": "",
        "outputs": 2,
        "property": "payload.result.status",
        "propertyType": "msg",
        "repair": false,
        "rules": [
            {
                "t": "hask",
                "v": "filament_switch_sensor Sensor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "a2333gaszxg saw",
                "vt": "flow"
            }
        ],
        "type": "switch",
        "wires": [
            [
                "b7d541b3.632ae"
            ],
            [
            ]
        ],
        "x": 370,
        "y": 300,
        "z": "3422d1.25b52d3"
    },
    {
        "crontab": "",
        "id": "c6900b22.1444a8",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "{\"jsonrpc\":\"2.0\",\"result\":{\"status\":{\"heater_bed\":{\"temperature\":59.70476091770062,\"target\":60},\"filament_switch_sensor Sensor\":{\"filament_detected\":true},\"gcode\":{},\"fan\":{\"speed\":1,\"rpm\":null},\"display_status\":{\"progress\":0.3},\"print_stats\":{\"print_duration\":9321.11139888801,\"total_duration\":9559.235056339006,\"filename\":\"Trunk_Tall_0.16mm_PLA__7h39m.gcode\",\"state\":\"printing\"},\"toolhead\":{\"homed_axes\":\"xyz\",\"estimated_print_time\":61695.956782333335,\"print_time\":61698.806354975015,\"extruder\":\"extruder\"},\"extruder\":{\"target\":210,\"temperature\":209.99919772313908}},\"eventtime\":96164.416848014},\"id\":\"3041544688\"}",
        "payloadType": "json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "bd17bcd9.4ed7f",
                "ca4991c8.1d66d"
            ]
        ],
        "x": 170,
        "y": 280,
        "z": "170228d9.1db747"
    },
    {
        "checkall": "true",
        "id": "bd17bcd9.4ed7f",
        "name": "",
        "outputs": 1,
        "property": "payload",
        "propertyType": "msg",
        "repair": false,
        "rules": [
            {
                "t": "hask",
                "v": "filament_switch_sensor Sensor",
                "vt": "str"
            }
        ],
        "type": "switch",
        "wires": [
            [
                "f76da519.dcf068"
            ]
        ],
        "x": 430,
        "y": 280,
        "z": "170228d9.1db747"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "f76da519.dcf068",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 650,
        "y": 280,
        "z": "170228d9.1db747"
    },
    {
        "crontab": "",
        "id": "7c0cb951.5e7448",
        "name": "PAUSE",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "2f83f69a.76a47a"
            ]
        ],
        "x": 150,
        "y": 40,
        "z": "170228d9.1db747"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "ca4991c8.1d66d",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 450,
        "y": 340,
        "z": "170228d9.1db747"
    },
    {
        "crontab": "",
        "id": "d8c54f76.4ef5e",
        "name": "DUMP",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "2f83f69a.76a47a"
            ]
        ],
        "x": 150,
        "y": 80,
        "z": "170228d9.1db747"
    },
    {
        "crontab": "",
        "id": "4fef2622.a168b8",
        "name": "RESUME",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "2f83f69a.76a47a"
            ]
        ],
        "x": 160,
        "y": 120,
        "z": "170228d9.1db747"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "2f83f69a.76a47a",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 410,
        "y": 100,
        "z": "170228d9.1db747"
    },
    {
        "crontab": "",
        "id": "87300ec3.71aba",
        "name": "STEP",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "2f83f69a.76a47a"
            ]
        ],
        "x": 150,
        "y": 160,
        "z": "170228d9.1db747"
    },
    {
        "id": "2d291cb1.0c0c64",
        "name": "",
        "type": "exp1",
        "wires": [
            [
                "2278e2c0.03e64e",
                "b67e0b7c.42f868"
            ]
        ],
        "x": 650,
        "y": 180,
        "z": "3422d1.25b52d3"
    },
    {
        "crontab": "",
        "id": "4cabd2e7.ccddac",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "2d291cb1.0c0c64"
            ]
        ],
        "x": 470,
        "y": 220,
        "z": "3422d1.25b52d3"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "2278e2c0.03e64e",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 820,
        "y": 220,
        "z": "3422d1.25b52d3"
    },
    {
        "action": "",
        "from": "",
        "id": "44e407b8.8940d8",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload",
                "pt": "msg",
                "t": "set",
                "to": "payload & \"ABC\"",
                "tot": "jsonata"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
            ]
        ],
        "x": 200,
        "y": 80,
        "z": "8209a5c3.b15028"
    },
    {
        "action": "",
        "from": "",
        "id": "e308262.2651bd8",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload",
                "pt": "msg",
                "t": "set",
                "to": "XYZ",
                "tot": "str"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "a234bbba.bc03f8"
            ]
        ],
        "x": 200,
        "y": 80,
        "z": "7623e93f.d95958"
    },
    {
        "env": [
        ],
        "id": "a234bbba.bc03f8",
        "name": "",
        "type": "subflow:8209a5c3.b15028",
        "wires": [
            [
            ]
        ],
        "x": 420,
        "y": 80,
        "z": "7623e93f.d95958"
    },
    {
        "authType": "basic",
        "id": "f54e07e3.95fc98",
        "method": "GET",
        "name": "",
        "paytoqs": "ignore",
        "persist": false,
        "proxy": "",
        "ret": "txt",
        "tls": "",
        "type": "http request",
        "url": "",
        "wires": [
            [
            ]
        ],
        "x": 480,
        "y": 420,
        "z": "3422d1.25b52d3"
    },
    {
        "drop": false,
        "id": "d90df4d4.202d98",
        "name": "",
        "nbRateUnits": "1",
        "pauseType": "random",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
            ]
        ],
        "x": 420,
        "y": 500,
        "z": "3422d1.25b52d3"
    },
    {
        "crontab": "",
        "id": "e4afc1f0.2881b",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "d90df4d4.202d98",
                "d1c8d694.ca5ee8"
            ]
        ],
        "x": 150,
        "y": 420,
        "z": "3422d1.25b52d3"
    },
    {
        "crontab": "",
        "id": "8a52948a.c80618",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "53605c5b.1f4494"
            ]
        ],
        "x": 340,
        "y": 400,
        "z": "f40ba5a7.913cd8"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "53605c5b.1f4494",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 790,
        "y": 400,
        "z": "f40ba5a7.913cd8"
    },
    {
        "id": "f6014644.8cd678",
        "method": "get",
        "name": "",
        "swaggerDoc": "",
        "type": "http in",
        "upload": false,
        "url": "/test",
        "wires": [
            [
            ]
        ],
        "x": 120,
        "y": 160,
        "z": "3422d1.25b52d3"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "b67e0b7c.42f868",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 840,
        "y": 100,
        "z": "3422d1.25b52d3"
    },
    {
        "id": "d1c8d694.ca5ee8",
        "name": "",
        "type": "subflow:8209a5c3.b15028",
        "wires": [
            [
                "53436f6f.6629b"
            ]
        ],
        "x": 530,
        "y": 360,
        "z": "3422d1.25b52d3"
    },
    {
        "active": true,
        "complete": "_msgid",
        "console": true,
        "id": "b7d541b3.632ae",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 600,
        "y": 280,
        "z": "3422d1.25b52d3"
    },
    {
        "id": "edc3db11.6448b8",
        "name": "",
        "type": "subflow:8209a5c3.b15028",
        "wires": [
            [
                "bfc71766.923608"
            ]
        ],
        "x": 240,
        "y": 40,
        "z": "3422d1.25b52d3"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "53436f6f.6629b",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 660,
        "y": 440,
        "z": "3422d1.25b52d3"
    },
    {
        "crontab": "",
        "id": "1edd927c.dcc63e",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "{\"jsonrpc\":\"2.0\",\"result\":{\"status\":{\"heater_bed\":{\"temperature\":59.70476091770062,\"target\":60},\"filament_switch_sensor Sensor\":{\"filament_detected\":true},\"gcode\":{},\"fan\":{\"speed\":1,\"rpm\":null},\"display_status\":{\"progress\":0.3},\"print_stats\":{\"print_duration\":9321.11139888801,\"total_duration\":9559.235056339006,\"filename\":\"Trunk_Tall_0.16mm_PLA__7h39m.gcode\",\"state\":\"printing\"},\"toolhead\":{\"homed_axes\":\"xyz\",\"estimated_print_time\":61695.956782333335,\"print_time\":61698.806354975015,\"extruder\":\"extruder\"},\"extruder\":{\"target\":210,\"temperature\":209.99919772313908}},\"eventtime\":96164.416848014},\"id\":\"3041544688\"}",
        "payloadType": "json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "b5925d3e.3918d",
                "86c007.fd424ff8"
            ]
        ],
        "x": 170,
        "y": 420,
        "z": "170228d9.1db747"
    },
    {
        "checkall": "true",
        "id": "b5925d3e.3918d",
        "name": "",
        "outputs": 1,
        "property": "payload",
        "propertyType": "msg",
        "repair": false,
        "rules": [
            {
                "t": "hask",
                "v": "filament_switch_sensor Sensor",
                "vt": "str"
            }
        ],
        "type": "switch",
        "wires": [
            [
                "b3642630.a415c8"
            ]
        ],
        "x": 430,
        "y": 420,
        "z": "170228d9.1db747"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "b3642630.a415c8",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 650,
        "y": 420,
        "z": "170228d9.1db747"
    },
    {
        "crontab": "",
        "id": "b09c036d.245a6",
        "name": "PAUSE",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "92d2d421.57abc8"
            ]
        ],
        "x": 150,
        "y": 180,
        "z": "170228d9.1db747"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "86c007.fd424ff8",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 450,
        "y": 480,
        "z": "170228d9.1db747"
    },
    {
        "crontab": "",
        "id": "3511c50a.e1ab0a",
        "name": "DUMP",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "92d2d421.57abc8"
            ]
        ],
        "x": 150,
        "y": 220,
        "z": "170228d9.1db747"
    },
    {
        "crontab": "",
        "id": "b7b66f04.8b2b2",
        "name": "RESUME",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "92d2d421.57abc8"
            ]
        ],
        "x": 160,
        "y": 260,
        "z": "170228d9.1db747"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "92d2d421.57abc8",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 410,
        "y": 240,
        "z": "170228d9.1db747"
    },
    {
        "crontab": "",
        "id": "3832103b.7541",
        "name": "STEP",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "92d2d421.57abc8"
            ]
        ],
        "x": 150,
        "y": 300,
        "z": "170228d9.1db747"
    },
    {
        "crontab": "",
        "g": "966e273a.606a18",
        "id": "9f5838d1.46e0c8",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "{\"user\":\"Nat\",\"age\":38}",
        "payloadType": "json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "7c34afb8.cfb558"
            ]
        ],
        "x": 200,
        "y": 180,
        "z": "67722c.3b4abdd4"
    },
    {
        "active": true,
        "complete": "payload",
        "console": false,
        "g": "966e273a.606a18",
        "id": "4f29f043.976418",
        "name": "A",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 1490,
        "y": 180,
        "z": "67722c.3b4abdd4"
    },
    {
        "checkall": "true",
        "g": "966e273a.606a18",
        "id": "7c34afb8.cfb558",
        "name": "",
        "outputs": 2,
        "property": "payload.user",
        "propertyType": "msg",
        "repair": false,
        "rules": [
            {
                "t": "eq",
                "v": "Nat",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "type": "switch",
        "wires": [
            [
                "1c8e3f45.8a7e71",
                "df5e6bab.4b0aa"
            ],
            [
            ]
        ],
        "x": 390,
        "y": 180,
        "z": "67722c.3b4abdd4"
    },
    {
        "action": "",
        "from": "",
        "g": "966e273a.606a18",
        "id": "1c8e3f45.8a7e71",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload.age",
                "pt": "msg",
                "t": "set",
                "to": "22",
                "tot": "num"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "e8a252be.4822e"
            ]
        ],
        "x": 600,
        "y": 180,
        "z": "67722c.3b4abdd4"
    },
    {
        "g": "966e273a.606a18",
        "id": "df5e6bab.4b0aa",
        "links": [
            "8bfdd0e1.b5d4b8"
        ],
        "name": "",
        "type": "link out",
        "wires": [
        ],
        "x": 495,
        "y": 140,
        "z": "67722c.3b4abdd4"
    },
    {
        "action": "",
        "from": "",
        "g": "966e273a.606a18",
        "id": "e8a252be.4822e",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload.age",
                "pt": "msg",
                "t": "set",
                "to": "22",
                "tot": "num"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "ff8d670b.55d088"
            ]
        ],
        "x": 820,
        "y": 180,
        "z": "67722c.3b4abdd4"
    },
    {
        "action": "",
        "from": "",
        "g": "966e273a.606a18",
        "id": "ff8d670b.55d088",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload.age",
                "pt": "msg",
                "t": "set",
                "to": "22",
                "tot": "num"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "d4150b44.429a48"
            ]
        ],
        "x": 1060,
        "y": 180,
        "z": "67722c.3b4abdd4"
    },
    {
        "action": "",
        "from": "",
        "g": "966e273a.606a18",
        "id": "d4150b44.429a48",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload.age",
                "pt": "msg",
                "t": "set",
                "to": "22",
                "tot": "num"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "4f29f043.976418"
            ]
        ],
        "x": 1300,
        "y": 180,
        "z": "67722c.3b4abdd4"
    },
    {
        "action": "",
        "from": "",
        "id": "317dd1e3.81909e",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload.age",
                "pt": "msg",
                "t": "set",
                "to": "foo",
                "tot": "str"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
            ]
        ],
        "x": 200,
        "y": 80,
        "z": "22db187c.2c8d7"
    },
    {
        "g": "e5bf201a.44a378",
        "id": "8bfdd0e1.b5d4b8",
        "links": [
            "df5e6bab.4b0aa"
        ],
        "name": "",
        "type": "link in",
        "wires": [
            [
                "40802e12.ef92c8"
            ]
        ],
        "x": 215,
        "y": 360,
        "z": "67722c.3b4abdd4"
    },
    {
        "active": true,
        "complete": "payload",
        "console": false,
        "g": "e5bf201a.44a378",
        "id": "746c49c.576dd38",
        "name": "B",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 950,
        "y": 360,
        "z": "67722c.3b4abdd4"
    },
    {
        "env": [
        ],
        "g": "e5bf201a.44a378",
        "id": "40802e12.ef92c8",
        "name": "",
        "type": "subflow:22db187c.2c8d7",
        "wires": [
            [
                "746c49c.576dd38"
            ]
        ],
        "x": 420,
        "y": 360,
        "z": "67722c.3b4abdd4"
    },
    {
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n// Goo\n",
        "func": "\nreturn msg;",
        "id": "52411e8b.78576",
        "initialize": "",
        "libs": [
        ],
        "name": "",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "e3f8b889.d700f8"
            ]
        ],
        "x": 320,
        "y": 580,
        "z": "3422d1.25b52d3"
    },
    {
        "crontab": "",
        "id": "f5648974.a98708",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "52411e8b.78576"
            ]
        ],
        "x": 100,
        "y": 580,
        "z": "3422d1.25b52d3"
    },
    {
        "active": true,
        "complete": "false",
        "console": false,
        "id": "e3f8b889.d700f8",
        "name": "",
        "statusType": "auto",
        "statusVal": "",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 550,
        "y": 600,
        "z": "3422d1.25b52d3"
    },
    {
        "crontab": "",
        "id": "e34e1814.94a8b8",
        "name": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "",
        "payloadType": "date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "83908b8d.87dfe8"
            ]
        ],
        "x": 250,
        "y": 860,
        "z": "3422d1.25b52d3"
    },
    {
        "action": "",
        "from": "",
        "id": "83908b8d.87dfe8",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload",
                "pt": "msg",
                "t": "set",
                "to": "",
                "tot": "str"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "4397c447.4f375c"
            ]
        ],
        "x": 530,
        "y": 940,
        "z": "3422d1.25b52d3"
    },
    {
        "action": "",
        "from": "",
        "id": "4397c447.4f375c",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload",
                "pt": "msg",
                "t": "set",
                "to": "",
                "tot": "str"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "83908b8d.87dfe8"
            ]
        ],
        "x": 680,
        "y": 1000,
        "z": "3422d1.25b52d3"
    }
]
