packages/node_modules/@node-red/flow-parser/test/resources/flow.json
[{"id":"3422d1.25b52d3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"170228d9.1db747","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f40ba5a7.913cd8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"67722c.3b4abdd4","type":"tab","label":"nlecaude","disabled":false,"info":""},{"id":"905bff64.6816e","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"bf2cc65e.60d988","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"3d5a65a.413c39a","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"6b29dfb0.3699c","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"88383bc2.00b468","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"7623e93f.d95958","type":"subflow","name":"RealEXP1","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"e308262.2651bd8"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"a234bbba.bc03f8","port":0}]}],"env":[],"meta":{"module":"node-red-contrib-exp1","type":"exp1","version":"1.0.0","author":"nisiyama","desc":"desc","keywords":"node-red","license":"Apache-2.0"},"color":"#87A980","icon":"node-red/arduino.png"},{"id":"8209a5c3.b15028","type":"subflow","name":"Subflow 1","info":"","in":[{"x":40,"y":80,"wires":[{"id":"44e407b8.8940d8"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"44e407b8.8940d8","port":0}]}]},{"id":"22db187c.2c8d7","type":"subflow","name":"Subflow 1","info":"","in":[{"x":40,"y":80,"wires":[{"id":"317dd1e3.81909e"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"317dd1e3.81909e","port":0}]}]},{"id":"966e273a.606a18","type":"group","z":"67722c.3b4abdd4","name":"branch a","style":{"label":true},"nodes":["9f5838d1.46e0c8","4f29f043.976418","7c34afb8.cfb558","1c8e3f45.8a7e71","df5e6bab.4b0aa","e8a252be.4822e","ff8d670b.55d088","d4150b44.429a48"],"x":54,"y":99,"w":1532,"h":122},{"id":"e5bf201a.44a378","type":"group","z":"67722c.3b4abdd4","name":"branch b","style":{"label":true},"nodes":["8bfdd0e1.b5d4b8","746c49c.576dd38","40802e12.ef92c8"],"x":174,"y":319,"w":872,"h":82},{"id":"72ac1499.04cb4c","type":"websocket-listener","path":"/ws/example","wholemsg":"false"},{"id":"27ea1409.45cb6c","type":"inject","z":"3422d1.25b52d3","name":"Hi\\n There","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["edc3db11.6448b8"]]},{"id":"2499fb06.a07924","type":"websocket in","z":"3422d1.25b52d3","name":"","server":"72ac1499.04cb4c","client":"","x":270,"y":200,"wires":[["930b25f9.6af0c8"]]},{"id":"930b25f9.6af0c8","type":"debug","z":"3422d1.25b52d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":120,"wires":[]},{"id":"bfc71766.923608","type":"debug","z":"3422d1.25b52d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":80,"wires":[],"icon":"font-awesome/fa-address-card"},{"id":"fd2dd455.7d85d8","type":"inject","z":"3422d1.25b52d3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"jsonrpc\":\"2.0\",\"result\":{\"status\":{\"heater_bed\":{\"temperature\":59.70476091770062,\"target\":60},\"filament_switch_sensor Sensor\":{\"filament_detected\":true},\"gcode\":{},\"fan\":{\"speed\":1,\"rpm\":null},\"display_status\":{\"progress\":0.3},\"print_stats\":{\"print_duration\":9321.11139888801,\"total_duration\":9559.235056339006,\"filename\":\"Trunk_Tall_0.16mm_PLA__7h39m.gcode\",\"state\":\"printing\"},\"toolhead\":{\"homed_axes\":\"xyz\",\"estimated_print_time\":61695.956782333335,\"print_time\":61698.806354975015,\"extruder\":\"extruder\"},\"extruder\":{\"target\":210,\"temperature\":209.99919772313908}},\"eventtime\":96164.416848014},\"id\":\"3041544688\"}","payloadType":"json","x":130,"y":340,"wires":[["dba78653.d53ac8"]]},{"id":"dba78653.d53ac8","type":"switch","z":"3422d1.25b52d3","name":"","property":"payload.result.status","propertyType":"msg","rules":[{"t":"hask","v":"filament_switch_sensor Sensor","vt":"str"},{"t":"eq","v":"a2333gaszxg saw","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":300,"wires":[["b7d541b3.632ae"],[]]},{"id":"c6900b22.1444a8","type":"inject","z":"170228d9.1db747","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"jsonrpc\":\"2.0\",\"result\":{\"status\":{\"heater_bed\":{\"temperature\":59.70476091770062,\"target\":60},\"filament_switch_sensor Sensor\":{\"filament_detected\":true},\"gcode\":{},\"fan\":{\"speed\":1,\"rpm\":null},\"display_status\":{\"progress\":0.3},\"print_stats\":{\"print_duration\":9321.11139888801,\"total_duration\":9559.235056339006,\"filename\":\"Trunk_Tall_0.16mm_PLA__7h39m.gcode\",\"state\":\"printing\"},\"toolhead\":{\"homed_axes\":\"xyz\",\"estimated_print_time\":61695.956782333335,\"print_time\":61698.806354975015,\"extruder\":\"extruder\"},\"extruder\":{\"target\":210,\"temperature\":209.99919772313908}},\"eventtime\":96164.416848014},\"id\":\"3041544688\"}","payloadType":"json","x":170,"y":280,"wires":[["bd17bcd9.4ed7f","ca4991c8.1d66d"]]},{"id":"bd17bcd9.4ed7f","type":"switch","z":"170228d9.1db747","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"filament_switch_sensor Sensor","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":280,"wires":[["f76da519.dcf068"]]},{"id":"f76da519.dcf068","type":"debug","z":"170228d9.1db747","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"7c0cb951.5e7448","type":"inject","z":"170228d9.1db747","name":"PAUSE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":40,"wires":[["2f83f69a.76a47a"]]},{"id":"ca4991c8.1d66d","type":"debug","z":"170228d9.1db747","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":340,"wires":[]},{"id":"d8c54f76.4ef5e","type":"inject","z":"170228d9.1db747","name":"DUMP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["2f83f69a.76a47a"]]},{"id":"4fef2622.a168b8","type":"inject","z":"170228d9.1db747","name":"RESUME","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["2f83f69a.76a47a"]]},{"id":"2f83f69a.76a47a","type":"debug","z":"170228d9.1db747","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":100,"wires":[]},{"id":"87300ec3.71aba","type":"inject","z":"170228d9.1db747","name":"STEP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["2f83f69a.76a47a"]]},{"id":"2d291cb1.0c0c64","type":"exp1","z":"3422d1.25b52d3","name":"","x":650,"y":180,"wires":[["2278e2c0.03e64e","b67e0b7c.42f868"]]},{"id":"4cabd2e7.ccddac","type":"inject","z":"3422d1.25b52d3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":220,"wires":[["2d291cb1.0c0c64"]]},{"id":"2278e2c0.03e64e","type":"debug","z":"3422d1.25b52d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":220,"wires":[]},{"id":"44e407b8.8940d8","type":"change","z":"8209a5c3.b15028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload & \"ABC\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[[]]},{"id":"e308262.2651bd8","type":"change","z":"7623e93f.d95958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"XYZ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["a234bbba.bc03f8"]]},{"id":"a234bbba.bc03f8","type":"subflow:8209a5c3.b15028","z":"7623e93f.d95958","name":"","env":[],"x":420,"y":80,"wires":[[]]},{"id":"f54e07e3.95fc98","type":"http request","z":"3422d1.25b52d3","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":480,"y":420,"wires":[[]]},{"id":"d90df4d4.202d98","type":"delay","z":"3422d1.25b52d3","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":500,"wires":[[]]},{"id":"e4afc1f0.2881b","type":"inject","z":"3422d1.25b52d3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":420,"wires":[["d90df4d4.202d98","d1c8d694.ca5ee8"]]},{"id":"8a52948a.c80618","type":"inject","z":"f40ba5a7.913cd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":400,"wires":[["53605c5b.1f4494"]]},{"id":"53605c5b.1f4494","type":"debug","z":"f40ba5a7.913cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":400,"wires":[]},{"id":"f6014644.8cd678","type":"http in","z":"3422d1.25b52d3","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[[]]},{"id":"b67e0b7c.42f868","type":"debug","z":"3422d1.25b52d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":100,"wires":[]},{"id":"d1c8d694.ca5ee8","type":"subflow:8209a5c3.b15028","z":"3422d1.25b52d3","name":"","x":530,"y":360,"wires":[["53436f6f.6629b"]]},{"id":"b7d541b3.632ae","type":"debug","z":"3422d1.25b52d3","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"_msgid","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":280,"wires":[]},{"id":"edc3db11.6448b8","type":"subflow:8209a5c3.b15028","z":"3422d1.25b52d3","name":"","x":240,"y":40,"wires":[["bfc71766.923608"]]},{"id":"53436f6f.6629b","type":"debug","z":"3422d1.25b52d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":440,"wires":[]},{"id":"1edd927c.dcc63e","type":"inject","z":"170228d9.1db747","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"jsonrpc\":\"2.0\",\"result\":{\"status\":{\"heater_bed\":{\"temperature\":59.70476091770062,\"target\":60},\"filament_switch_sensor Sensor\":{\"filament_detected\":true},\"gcode\":{},\"fan\":{\"speed\":1,\"rpm\":null},\"display_status\":{\"progress\":0.3},\"print_stats\":{\"print_duration\":9321.11139888801,\"total_duration\":9559.235056339006,\"filename\":\"Trunk_Tall_0.16mm_PLA__7h39m.gcode\",\"state\":\"printing\"},\"toolhead\":{\"homed_axes\":\"xyz\",\"estimated_print_time\":61695.956782333335,\"print_time\":61698.806354975015,\"extruder\":\"extruder\"},\"extruder\":{\"target\":210,\"temperature\":209.99919772313908}},\"eventtime\":96164.416848014},\"id\":\"3041544688\"}","payloadType":"json","x":170,"y":420,"wires":[["b5925d3e.3918d","86c007.fd424ff8"]]},{"id":"b5925d3e.3918d","type":"switch","z":"170228d9.1db747","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"filament_switch_sensor Sensor","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":420,"wires":[["b3642630.a415c8"]]},{"id":"b3642630.a415c8","type":"debug","z":"170228d9.1db747","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":420,"wires":[]},{"id":"b09c036d.245a6","type":"inject","z":"170228d9.1db747","name":"PAUSE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["92d2d421.57abc8"]]},{"id":"86c007.fd424ff8","type":"debug","z":"170228d9.1db747","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":480,"wires":[]},{"id":"3511c50a.e1ab0a","type":"inject","z":"170228d9.1db747","name":"DUMP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["92d2d421.57abc8"]]},{"id":"b7b66f04.8b2b2","type":"inject","z":"170228d9.1db747","name":"RESUME","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[["92d2d421.57abc8"]]},{"id":"92d2d421.57abc8","type":"debug","z":"170228d9.1db747","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":240,"wires":[]},{"id":"3832103b.7541","type":"inject","z":"170228d9.1db747","name":"STEP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":300,"wires":[["92d2d421.57abc8"]]},{"id":"9f5838d1.46e0c8","type":"inject","z":"67722c.3b4abdd4","g":"966e273a.606a18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"user\":\"Nat\",\"age\":38}","payloadType":"json","x":200,"y":180,"wires":[["7c34afb8.cfb558"]]},{"id":"4f29f043.976418","type":"debug","z":"67722c.3b4abdd4","g":"966e273a.606a18","name":"A","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":180,"wires":[]},{"id":"7c34afb8.cfb558","type":"switch","z":"67722c.3b4abdd4","g":"966e273a.606a18","name":"","property":"payload.user","propertyType":"msg","rules":[{"t":"eq","v":"Nat","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":180,"wires":[["1c8e3f45.8a7e71","df5e6bab.4b0aa"],[]]},{"id":"1c8e3f45.8a7e71","type":"change","z":"67722c.3b4abdd4","g":"966e273a.606a18","name":"","rules":[{"t":"set","p":"payload.age","pt":"msg","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["e8a252be.4822e"]]},{"id":"df5e6bab.4b0aa","type":"link out","z":"67722c.3b4abdd4","g":"966e273a.606a18","name":"","links":["8bfdd0e1.b5d4b8"],"x":495,"y":140,"wires":[]},{"id":"e8a252be.4822e","type":"change","z":"67722c.3b4abdd4","g":"966e273a.606a18","name":"","rules":[{"t":"set","p":"payload.age","pt":"msg","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":180,"wires":[["ff8d670b.55d088"]]},{"id":"ff8d670b.55d088","type":"change","z":"67722c.3b4abdd4","g":"966e273a.606a18","name":"","rules":[{"t":"set","p":"payload.age","pt":"msg","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":180,"wires":[["d4150b44.429a48"]]},{"id":"d4150b44.429a48","type":"change","z":"67722c.3b4abdd4","g":"966e273a.606a18","name":"","rules":[{"t":"set","p":"payload.age","pt":"msg","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":180,"wires":[["4f29f043.976418"]]},{"id":"317dd1e3.81909e","type":"change","z":"22db187c.2c8d7","name":"","rules":[{"t":"set","p":"payload.age","pt":"msg","to":"foo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[[]]},{"id":"8bfdd0e1.b5d4b8","type":"link in","z":"67722c.3b4abdd4","g":"e5bf201a.44a378","name":"","links":["df5e6bab.4b0aa"],"x":215,"y":360,"wires":[["40802e12.ef92c8"]]},{"id":"746c49c.576dd38","type":"debug","z":"67722c.3b4abdd4","g":"e5bf201a.44a378","name":"B","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"40802e12.ef92c8","type":"subflow:22db187c.2c8d7","z":"67722c.3b4abdd4","g":"e5bf201a.44a378","name":"","env":[],"x":420,"y":360,"wires":[["746c49c.576dd38"]]},{"id":"52411e8b.78576","type":"function","z":"3422d1.25b52d3","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\n// Goo\n","libs":[],"x":320,"y":580,"wires":[["e3f8b889.d700f8"]]},{"id":"f5648974.a98708","type":"inject","z":"3422d1.25b52d3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":580,"wires":[["52411e8b.78576"]]},{"id":"e3f8b889.d700f8","type":"debug","z":"3422d1.25b52d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":600,"wires":[]}]
